
<header class="page-header">
  <span class="pull-right h1">
    <small class="beta">BETA</small>
    {{!-- Uses Font-awesome 3.2.1 not the latest 4.0 --}}
    {{#link-to "help" tagName="button" classNames="btn btn-primary"}}<i class="icon-question"></i>{{/link-to}}
  </span>
  <h1>
    {{moment currentDay "MMMM D, YYYY"}}
  </h1>
</header>
