
{{!-- outlet "filterPane"}}
<aside class="pane side-pane filter-pane">
--}}
<aside {{bind-attr class=":st-menu view.transitionEffect"}} {{action "closeMenu" target=view on="mouseLeave"}}>
  <h2>Categories</h2>
  {{category-select-wrapper action="updateCategories" categories=allCategories activeCategories=activeCategories}}
</aside>

{{!-- <section class="pane main-pane"> --}}
<div class="st-pusher">
  <section class="st-content">
    <div class="pane-body">

      <div class="carousel-wrapper valpo-sheen-gold hidden-xs layout-block">
        <a href="http://www.valpo.edu/"><img src="assets/img/banners/vuca.jpg" class="img-responsive" /></a>
      </div>

      {{outlet}}
    </div>
  </section>
</div>
</section>
