
{{!outlet "filterPane"}}
<aside class="pane side-pane filter-pane">
  <section class="pane-body">
    {{outlet "dateRangePicker"}}
    {{!outlet "controlList"}}
    <h3>Categories</h3>
    <ul class="nav nav-list">
    {{#each controllers.application.categories}}
      {{#view VU.CategoryButtonView tagName="li"}}{{name}}{{/view}}
    {{/each}}
    </ul>
  </section>
</aside>

<section class="pane main-pane">
  <header class="pane-header row-fluid">
    {{#view view.FilterToggle}}Filters{{/view}}
    {{!outlet "activeFilters"}}
  </header>
  <section class="pane-body">
    {{outlet}}
  </section>
</section>

{{!outlet "sidePane"}}
{{!outlet "eventDetailPane"}}
