
<ul class="unstyled layout-block">
{{#each category in categories}}
  <li>
    {{category-select activeCategories=activeCategories category=category name=category.name}}
  </li>
{{/each}}
</ul>
<div class="col-xs-12">
  <button class="category-clear btn valpo-sheen-gold layout-block" {{action "clearCategories"}}>Clear</button>
</div>
