<ul class="pager">
  {{#pager-item classNames="previous" action="sendTransition" date=previousDate}}
    &larr; {{moment previousDate format}}
  {{/pager-item}}
{{!--
  <li>
    <strong>{{date date}}</strong>
  </li>
--}}
  {{#pager-item classNames="next" action="sendTransition" date=nextDate}}
    {{moment nextDate format}} &rarr;
  {{/pager-item}}
</ul>