<ul class="pager">
  <li class="previous">
    {{pager-item tagName="a" action="sendTransition" date=previousDate}}
  </li>
  <li>
    {{pager-item tagName="a" action="sendTransition" title="Today" date=today isToday=isToday classNameBindings="isToday:disabled"}}
  </li>
  <li class="next">
    {{pager-item tagName="a" action="sendTransition" date=nextDate}}
  </li>
</ul>