<ul class="pager">
  <li class="previous">
    {{pager-item format=_format tagName="a" date=previousDate action="changeDate"}}
  </li>
  <li>
    {{moment date _format}}
  </li>
  <li class="next">
    {{pager-item format=_format tagName="a" date=nextDate action="changeDate"}}
  </li>
</ul>