<ul class="pager">
  <li class="previous">
    {{pager-item tagName="a" action="sendTransition" date=previousDate}}
  </li>
{{!--
  <li>
    <strong>{{date date}}</strong>
  </li>
--}}
  <li class="next">
    {{pager-item tagName="a" action="sendTransition" date=nextDate}}
  </li>
</ul>