<header class="page-header events-header">
{{!partial "calendar-svg"}}
<h1>{{moment currentDay "dddd, MMMM Do, YYYY"}}</h1>
</header>
<div class="events-body">
  {{day-pager action="transitionToDay" date=currentDay range="day"}}

  {{#archive-list items=filteredContent}}
    <div class="well">
    Your search rendered no results. D':
    </div>
  {{/archive-list}}

  {{outlet}}
</div>