<aside class="pane side-pane filter-pane">
  <section class="pane-body">
    <h3>Date Range</h3>
    <label>Start: </label> {{view Em.TextField valueBinding="controller.start"}}
    <br />
    <label>End: </label> {{view Em.TextField valueBinding="controller.end"}}
    <h3>Categories</h3>
    <div class="btn-group btn-group-vertical">
    {{#each controllers.application.categories}}
      {{#view VU.CategoryButtonView}}{{name}}{{/view}}
    {{/each}}
    </div>
    {{#view VU.ButtonView action="updateFilters" actionContext="controller"}}Update{{/view}}
  </section>
</aside>
