[submodule "components/ember-data"]
	path = components/ember-data
	url = https://github.com/emberjs/data.git
[submodule "components/ember.js"]
	path = components/ember.js
	url = https://github.com/emberjs/ember.js.git
[submodule "components/bootstrap"]
	path = components/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "components/handlebars"]
	path = components/handlebars
	url = https://github.com/wycats/handlebars.js.git
[submodule "components/requirejs"]
	path = components/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "components/moment"]
	path = components/moment
	url = https://github.com/timrwood/moment.git
[submodule "components/showdown"]
	path = components/showdown
	url = https://github.com/coreyti/showdown.git
[submodule "components/almond"]
	path = components/almond
	url = https://github.com/jrburke/almond.git
